<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <div class="input-group mb-3">
            <input type="text" class="form-control search" [(ngModel)]="searchtext" placeholder="Search" aria-label="Search" aria-describedby="basic-addon1">
        </div>
        <select class="custom-select" [(ngModel)]="searchtext" style='width: 200px;'>
      <option selected>Select Status</option>
      <!-- <option value="1">Active</option>
      <option value="2">Inactive</option> -->
      <option *ngFor="let state of state">
          {{state.status}}
      </option>
    </select>
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>isActive</th>
                    <th>Picture</th>
                    <th>Name</th>
                    <th>email</th>
                    <th>Phone</th>
                </tr>
            </thead>
            <tbody>
                <!-- <tr *ngFor="let user of user | filter:searchtext"> -->
                <tr *ngFor="let user of user | filter:searchtext">
                    <!-- <th scope="row">{{i+1}}</th> -->
                    <td>{{user.id}}</td>
                    <td>{{user.isActive}}</td>
                    <td>{{user.picture}}</td>
                    <td>{{user.name}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.phone}}</td>

                </tr>
            </tbody>
        </table>
    </div>

</body>

</html>